.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

# rbenv
.ruby-version

.kitchen/
.kitchen.local.yml

metadata.json

nodes
cinc_guid
chef_guid
local-mode-cache
.chef
